@font-face {
    font-family: TransRobotics;
    src: url(../src/SF\ TransRobotics.ttf);
  }
 body{
     overflow-x: hidden;
     background-color: #1A1A1A;
     font-family: 'Open Sans', sans-serif;
 }
 .FirstSection{
       display: flex;
       height: 100vh;
       display: flex;
 }
.FirstSection::before{
    content: "";
    position: absolute;
    height: 100%;
    background-image: url('./Images/FirstIMg.jpg');
    background-size: cover;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.firstRow{
  display: contents;
}
.SecondSection{
    /* height: 80vh; */
    padding:30px 80px;
    /* background-color: #dededede; */
}
/* login form */
.login_form{
    background: linear-gradient(to right, #000428, #004e92);
    border-radius: 10px;
}
.login_formcol{
  align-items: center;
  justify-content: center;
  display: flex;
  position: relative;
  height: 100%;
}
.back_to_home{
  top: 30px;
    position: relative;
    left: 80px;
}
.servicesHeading{
    font-weight: unset;
    color: #1c1c1c;
    text-align: center;
    font-size: 60px;
    /* margin: 0px;
    padding: 15px; */
}
.SecondSectionCard{
    max-width: 20%;
    padding: 10px;
}
.ServiceFeaturesCard{
  height: 300px;
  max-width: 20%;
  padding: 20px;
}
.NavBg{
  background: linear-gradient(180deg, rgb(227 1 212) -120%, rgb(50 33 112) 64%);
}
.loginBg{
  background-color: #fff !important;
  background: url(./Images/loginBG.png);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}
.registerBg{
  background-color: #fff !important;
  background: url(./Images/registerShape.png);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}
.homepage-card{
border-radius: 10px;
    background: rgb(255,0,238);
    background: linear-gradient(
180deg
, rgb(227 1 212) -120%, rgb(50 33 112) 64%);
    color: white;
    text-align: center;
    /* padding: 30px 15px 0px 15px; */
    height: 100%;
    transition: all .4s ease-in-out;
}
.homepage-card:hover{
  
    transform: scale(1.1);
    box-shadow: 5px 6px 22px -6px;
  
}
.homepage-card img{
    /* filter: invert(1); */
    height: 50%;
    width: 50%; 
    margin: auto;
}

.servicesHeading_in_service_feature{
  /* font-family: TransRobotics; */
  font-weight: unset;
  color: #1c1c1c;
  text-align: center;
  font-size: 60px;
  margin: 0px;
  padding: 15px;
}
.service_card{
  border-radius: 10px;
  /* background: rgb(255,0,238); */
background: linear-gradient(
    180deg
    , rgb(227 1 212) -120%, rgb(50 33 112) 64%);;
  color: black !important;
  text-align: center;
  padding: 30px 15px 0px 15px;
  height: 100%;
transition: all .4s ease-in-out;
}
.service_card:hover{
  transform: scale(1.1);
  box-shadow: 5px 6px 22px -6px;
}

.service_card img{
  object-fit: contain;
  filter: invert(1);
  height: 60%;
  width: 50%; 
  margin: auto;
}
.service_card h6{
  padding-top: 30px;
  color: white;
  /* font-family: 'TransRobotics'; */
  font-size: 25px;
  }

/* .SecondSection h2{
font-family: 'TransRobotics';
} */

.ThirdSection{
    background-color: #6809AA;
    height: 100vh;
}
.ThirdSection .col-6:first-child{
    padding: 150px 100px;
}
.ThirdSection .col-6:first-child h3{
    font-weight: unset;
    /* font-family: 'TransRobotics'; */
    color: white;
    text-align: center;
    /* font-size: 60px; */
}
.ThirdSection .col-6:first-child p{
color:white
}

.Stroeicon{
  display: flex;
   justify-content:space-between;
    height: 80px;
    box-sizing: content-box;
    margin-top:0;
 
}
.Stroeicon>img{
  
 width: 100%;

}
/* .downloadSection{
    background-image: url('./Images/gratis.png');
    background-position-x: 400px;    
   
    opacity: 0.3;
    background-size: contain;
} */
.ThirdSection .col-4 img{
    width: 100%;
    height: 500px;
    object-fit: contain;
    
    z-index: 10;
}
.ThirdSection .col-2 img{
    height: 500px;
    /* background-image: url('./Images/gratis.png');
    background-position-x: 400px;     */
   
    opacity: 0.3;
    background-size: contain;
}


/* footer css */
footer ul {
    margin: 0px;
    padding: 0px;
}
.footer-section {
  background: #151414;
  position: relative;
}
.footer-cta {
  border-bottom: 1px solid #373636;
  padding-top: 3rem !important;
}
.single-cta i {
  color:#fff;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #757575;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
  text-align: center;
}
.footer-logo img {
    max-width: 100px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
      color: #7e7e7e;
  line-height: 28px;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
/* Footer Icon */

.bxl-facebook, .bxl-twitter, .bxl-instagram-alt{
  font-size: 40px;
  color: #fff;
}

/* .footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
} */
.facebook-bg{
  background: #3B5998;
}
.twitter-bg{
  background: #55ACEE;
}
.google-bg{
  background: #DD4B39;
}
.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background:#6b36aa;
}
.footer-widget ul li {
  display: inline-block;
  /* float: left; */
  width: 50%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover{
  color:#6b36aa;
}
.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}
.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2E2E2E;
  border: 1px solid #2E2E2E;
  color: #fff;
}
.subscribe-form button {
    position: absolute;
    right: 0;
    background:#6b36aa;
    padding: 13px 20px;
    border: 1px solid#6b36aa;
    top: 0;
}
.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}

.copyright-area{
  background: #202020;
  padding: 25px 0;
}
.copy_container{
  background: #202020;
  padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 90%;
}

.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a{
  color:#6b36aa;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a{
  color:#6b36aa;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}
/* end ooter css */


/* Header Css */

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}
.Head_yourShop {
  text-align: left;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: -30px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}

/* End Header Css */
.service-heading div{
  padding: 0px;
}
.service-heading p{
    font-size: 40px;
    padding-left: 20px;
    /* font-family: 'TransRobotics'; */
    color: white !important;
    background-color: #6809AA;
}
.services-div{
    background-color: #d4cfcf;
}
.services-div p,.services-div h4{
    text-align: justify;
    color: black;
}
.services-div span{
    color: white;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 12px;
}



/* Features card */

.cards-container {
    /* List Styling Clean-Up */
    list-style: none;
    padding: 0; margin: 0;
  
    /* Alignment */
    margin: auto;
  }

@media (min-width: 788px) {
    .cards-container { 
      width: 728px;
    }
    /* Clear Fix */
    .cards-container::after {
      content: "";
      clear: both;
      display: table;
    }
  }
  
  @media (min-width: 1166px) {
    .cards-container {
      width: 1106px;
    }
  }
  
  /*
   * ## Feature Card Class
   */
  

  [class$='feature-card'] {
    /* Positioning and Sizing */
    position: relative;
    box-sizing: border-box;
    width: 350px; height: 250px;
  
    /* Alignment */
    margin: 0;
    padding: 32px;
  
    /* Box Details */
    border-radius: 10px;
    border-top: solid 5px black;
    /* box-shadow: 2px 5px 20px rgb(0,0,0,0.1); */
    box-shadow: 2px 5px 15px 11px rgb(0 0 0 / 10%);



  }
   
  /*
   * ### Inner Elements
   */
  
  [class$='feature-card'] h2, [class$='feature-card'] p {
     color: #1d1d1d;
     margin: 0; 
     /* font-family: TransRobotics;  */
    }
  
  [class$='feature-card'] img {
    position: absolute;
    bottom: 32px;
    right: 0px;
    height: 75px;
  }
  
  /*
   * ### Top Border Colors Rules
   */
  
  [class$='feature-card'][class*='cyan'] {
    border-color: hsl(180, 62%, 55%);
  }
  
  [class$='feature-card'][class*='red'] {
    border-color: hsl(0, 78%, 62%);
  }
  
  [class$='feature-card'][class*='orange'] {
    border-color: hsl(34, 97%, 64%);
  }
  
  [class$='feature-card'][class*='blue'] {
    border-color: hsl(212, 86%, 64%);
  }


  @media (min-width: 788px) {
    [class$='feature-card'] {
      float: left;
    }
  
    @media (min-width: 1166px) {
      
      [class$='feature-card']:first-child {
        margin: 140px 0;
      }
     
      [class$='feature-card']:nth-child(2),
      [class$='feature-card']:nth-child(3) {
        margin: 0 22px;
      }
  
      [class$='feature-card']:last-child {
        margin-top: -110px;
      }
  
      [class$='feature-card']:nth-child(3) {
        margin-top: 30px;
      }
    }
  
    @media (max-width: 1165px) {
  
      [class$='feature-card']:nth-child(3),
      [class$='feature-card']:nth-child(4) {
        margin-top: 30px;
      }
  
      [class$='feature-card']:nth-child(2),
      [class$='feature-card']:nth-child(4) {
        margin-left: 28px;
      }
    }
  }
  
  @media (max-width: 787px) {
  
    [class$='feature-card'] {
      width: 300px; height: 220px;
      margin: auto;
    }
  
    [class$='feature-card']:not(:first-child) {
      margin-top: 22px;
    }
  }
  .cards-container li {
      background-color:  #ffffff;
      
  }
  .featurecardbackground .col-12{
    height: 100px;
  }
  .featurecardbackground{
    background-image: url("./Images/car-logo.gif");
    background-size: contain;
    background-repeat: no-repeat;
    height: 184px;
    margin-top: -50px;


  }
/* End Features Card */

.Features-heading{
    font-weight: unset;
    color: #1c1c1c;
    /* color: white; */
    text-align: center;
    font-size: 60px;
    margin: 0px;
    padding: 15px;
    /* font-family: TransRobotics; */
}

.first_servicesCarousel{
background-color: #f4f4f4;
}
.thumbs-wrapper {
  display: none;
}



/* carousel css */
.carouselcardService {padding: 0PX 0px 30PX 0px;
  /* background-color: #161415; */
  background: linear-gradient( 
    180deg
     , rgb(227 1 212) -120%, rgb(50 33 112) 64%);
     transition: all .4s ease-in-out;
}
.carouselcardService:hover{
  transform: scale(1.1);
  box-shadow: 5px 6px 22px -6px;
}

.carouselcardService p{
  border-bottom-left-radius:2%;
  border-bottom-right-radius:2%;
  text-align: justify;
  padding:10px  20px;
  color: white;
}
/* end carpousel css */


/* service detail page */



:root {
  --primary-color: #333;
  --secondary-color: #444;
  --ternary-color: #555;
  --light-color: #ccc;
  --light-secondary-color: #ddd;
  --light-ternary-color: #eee;
  --overlay-color: rgba(0, 0, 0, 0.7);
}





/* showcase section */

.section-showcase {
  background-color: white;
  /* margin: 2rem 0; */
  padding: 100px 0px;
}

.section-showcase .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  align-items: center;
  justify-content: center;
}

.section-showcase h1 {
  /* font-family: TransRobotics; */
  font-size: 4rem;
  color: var(--primary-color);
}

.section-showcase p {
  /* font-family: TransRobotics; */
  color: black;
  margin: 1rem 0;
  font-size: 20px;
}
.section-showcase ul {
padding: 0px;
}
.section-showcase ul li {
  /* font-family: TransRobotics; */
  list-style-type:none;
  color: black;
  font-size: 17px;
}
.section-showcase .btn {
  display: inline-block;

  background: linear-gradient( 
    180deg
     , rgb(227 1 212) -120%, rgb(50 33 112) 64%);
    
  /* background-color: var(--primary-color); */
  color: #fff;
  padding: 0.8rem 1.5rem;
  border: none;
  cursor: pointer;
  font-size: 1.1rem;
  /* border-radius: 30px; */
  margin-top: 20px;
}

.section-showcase .btn:hover {
  background: var(--secondary-color);
  color: white;
}

/* large text section */

.section-large-text {
  position: relative;
  background: url("./Images/carousel1.jpeg") bottom center/cover
    no-repeat;
  height: 50vh;
}
.section-large-text_insrvice_features{
  position: relative;
  background: url("./Images/carousel1.jpeg") bottom center/cover
    no-repeat;
  height: 600px;
}

.service_overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--overlay-color);
}

.section-large-text-inner {
  color: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
  max-width: 860px;
  padding: 5rem 0;
}

.section-large-text-inner h2 {
  font-size: 5rem;
  margin-top: 1rem;
}

.section-large-text-inner h3 {
  font-size: 2rem;
}

.section-large-text-inner p {
  font-size: 1.5rem;
  margin-top: 1rem;
}

/* gallery */

.section-gallery .gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.section-gallery .gallery img:first-child {
  grid-row: 1/3;
  grid-column: 1/3;
}

.section-gallery .gallery img:nth-child(2) {
  grid-column-start: 3;
  grid-column-end: 5;
}

.section-gallery .gallery img {
  width: 100%;
  height: 100%;
}

.section-large-text h3 ,.section-large-text h2{
  /* font-family: TransRobotics; */
  line-height: 1.3;

}

.section-large-text_insrvice_features h3 ,.section-large-text_insrvice_features h2{
  /* font-family: TransRobotics; */
  line-height: 1.3;

}
/* end service detail page */


.homeservicecard-subheading
{
  padding: 10px;
}

/* cart css */

.clearfix {
  content: "";
  display: table;
  clear: both;	
}

#site-header, #site-footer {
	background: #fff;
}

#site-header {
	margin: 0 0 30px 0;
}

#site-header h1 {
	font-size: 31px;
	font-weight: 300;
	padding: 40px 0;
	position: relative;
	margin: 0;
}

a {
	color: rgb(252, 248, 248);
	text-decoration: none;

	-webkit-transition: color .2s linear;
	-moz-transition: color .2s linear;
	-ms-transition: color .2s linear;
	-o-transition: color .2s linear;
	transition: color .2s linear;
}

a:hover {
	color: #6b36aa;
}

#site-header h1 span {
	color: #6b36aa;
}

#site-header h1 span.last-span {
	background: #fff;
	padding-right: 150px;
	position: absolute;
	left: 217px;

	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}

#site-header h1:hover span.last-span, #site-header h1 span.is-open {
	left: 363px;
}

#site-header h1 em {
	font-size: 16px;
	font-style: normal;
	vertical-align: middle;
}

.container {
	font-family: 'Open Sans', sans-serif;
	margin: 0 auto;

}

#cart {
	width: 100%;
}

#cart h1 {
	font-weight: 300;
}

#cart a {
	color: #6b36aa;
	text-decoration: none;

	-webkit-transition: color .2s linear;
	-moz-transition: color .2s linear;
	-ms-transition: color .2s linear;
	-o-transition: color .2s linear;
	transition: color .2s linear;
}

#cart a:hover {
	color: #000;
}

.product.removed {
	margin-left: 980px !important;
	opacity: 0;
}

.product {
	border: 1px solid #eee;
	margin: 20px 0;
	width: 100%;
	height: 195px;
	position: relative;

	-webkit-transition: margin .2s linear, opacity .2s linear;
	-moz-transition: margin .2s linear, opacity .2s linear;
	-ms-transition: margin .2s linear, opacity .2s linear;
	-o-transition: margin .2s linear, opacity .2s linear;
	transition: margin .2s linear, opacity .2s linear;
}

.product img {
	width: 100%;
	height: 100%;
}

.product header, .product .content {
	background-color: #fff;
	border: 1px solid #ccc;
	border-style: none none solid none;
	float: left;
}

.product header {
	background: #fff;
	margin: 0 1% 20px 0;
	overflow: hidden;
	padding: 0;
	position: relative;
	width: 24%;
	height: 195px;
}

.product header:hover img {
	opacity: .7;
}

.product header:hover h3 {
	bottom: 73px;
}

.product header h3 {
	background: #6b36aa;
	color: #fff;
  font-size: 18px;
  font-weight: 300;
  line-height: 49px;
	margin: 0;
	padding: 0 30px;
	position: absolute;
	bottom: -50px;
	right: 0;
	left: 0;

	-webkit-transition: bottom .2s linear;
	-moz-transition: bottom .2s linear;
	-ms-transition: bottom .2s linear;
	-o-transition: bottom .2s linear;
	transition: bottom .2s linear;
}

.remove {
	cursor: pointer;
}

.product .content {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	height: 140px;
	padding: 0 20px;
	width: 75%;
}

.product h1 {
	color: #6b36aa;
	font-size: 25px;
	font-weight: 300;
	margin: 17px 0 20px 0;
}

.product footer.content {
	height: 50px;
	margin: 6px 0 0 0;
	padding: 0;
}

.product footer .price {
	background: #fcfcfc;
	color: #000;
	float: right;
	font-size: 15px;
	font-weight: 300;
	line-height: 49px;
	margin: 0;
	padding: 0 30px;
}

.product footer .full-price {
	background: #6b36aa;
	color: #fff;
	float: right;
	font-size: 22px;
	font-weight: 300;
	line-height: 49px;
	margin: 0;
	padding: 0 30px;

	-webkit-transition: margin .15s linear;
	-moz-transition: margin .15s linear;
	-ms-transition: margin .15s linear;
	-o-transition: margin .15s linear;
	transition: margin .15s linear;
}

.qt, .qt-plus, .qt-minus {
	display: block;
	float: left;
}

.qt {
	font-size: 19px;
	line-height: 50px;
	width: 70px;
	text-align: center;
}

.qt-plus, .qt-minus {
	background: #fcfcfc;
	border: none;
	font-size: 30px;
	font-weight: 300;
	height: 100%;
	padding: 0 20px;
	-webkit-transition: background .2s linear;
	-moz-transition: background .2s linear;
	-ms-transition: background .2s linear;
	-o-transition: background .2s linear;
	transition: background .2s linear;
}

.qt-plus:hover, .qt-minus:hover {
	background: #6b36aa;
	color: #fff;
	cursor: pointer;
}

.qt-plus {
	line-height: 50px;
}

.qt-minus {
	line-height: 47px;
}

#site-footer {
	margin: 30px 0 0 0;
}

#site-footer {
	padding: 40px;
}

#site-footer h1 {
	background: #fcfcfc;
	border: 1px solid #ccc;
	border-style: none none solid none;
	font-size: 24px;
	font-weight: 300;
	margin: 0 0 7px 0;
	padding: 14px 40px;
	text-align: center;
}

#site-footer h2 {
	font-size: 24px;
	font-weight: 300;
	margin: 10px 0 0 0;
}

#site-footer h3 {
	font-size: 19px;
	font-weight: 300;
	margin: 15px 0;
}

.left {
	float: left;
}

.right {
	float: right;
}
/* btn Css */
.container .btn {
background: #6b36aa;
    /* border: 1px solid #999; */
    border-style: none none solid none;
    cursor: pointer;
    display: block;
    color: #fff;
    font-size: 15px;
    font-weight: 300;
    padding: 5px;
    width: auto;
    text-align: center;
    transition: all .2s linear;

	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}

.container .btn:hover {
	color: #fff;
}
/* end btn css */
.type {
	background: #fcfcfc;
	font-size: 13px;
	padding: 10px 16px;
	left: 100%;
}

.type, .color {
	border: 1px solid #ccc;
	border-style: none none solid none;
	position: absolute;
}

.color {
	width: 40px;
	height: 40px;
	right: -40px;
}

.red {
	background: #cb5a5e;
}

.yellow {
	background: #f1c40f;
}

.blue {
	background: #3598dc;
}

.minused {
	margin: 0 50px 0 0 !important;
}

.added {
	margin: 0 -50px 0 0 !important;
}

.cart h2, .cart h3,.cart  h4 ,.cart h5 ,.cart h6{
  color: black;
}
.content span{
  color: black;
}
.color{
  color: white;
}
.container h1,.container h2,.container h3{
  color: black;
}
/* .cartBackground{
  background-color: #eee;
  background-image: url('./Images/cart-background.jpeg');
  background-repeat: no-repeat;
  background-size: contain;
} */

#cart{
  padding: 40px;
}
/* End cart css */



body {
  width: 100%;
  min-height: 100vh;
  background-color: #f4f4f4;
  min-height: calc(100vh - var(--vh-offset, 0px));

  overflow-x: hidden;
  font-weight: 400;
  top: 0;
  color: #252525;
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: 0.025em;
}

.header-design {
  background-color: #a4508b;
  background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
  height: 120px;
  text-align: center;
}

.listar-map-button {
  width: 100%;
  position: absolute;
  display: table;
  right: 0;
  /* top: 0; */
  height: 200px;
  line-height: 164px;
  white-space: nowrap;
  font-size: 0;
}

.listar-map-button {
  right: auto;
  /***
    box-shadow: 0 0 65px rgba(0,0,0,.07) inset, 0 0 35px rgba(0,0,0,.05) inset;**/
}

.listar-map-button-text span {
  background-color: #fff;
  color: #252525;
  text-shadow: none;
}

.listar-page-header-content .listar-map-button-text span {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 15px;
  height: 44px;
  line-height: 1.6;
  padding: 10px 25px;
  box-shadow: 0 0 300px rgba(0, 0, 0, 0.65), 0 0 30px rgba(0, 0, 0, 0.06);
  border-radius: 50px;
  background-color: rgba(35, 40, 45, 0.9);
  color: #fff;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
}

header .footer-wave {
  max-width: 102%;
  width: 100%;
  height: 187.8px;
  left: 0;
  z-index: 1;
  bottom: -67px;
  background: url(https://1.bp.blogspot.com/-NYl6L8pz8B4/XoIVXwfhlNI/AAAAAAAAU3k/nxJKiLT706Mb7jUFiM5vdCsOSNnFAh0yQCLcBGAsYHQ/s1600/hero-wave.png)
    repeat-x;
  animation: wave 10s cubic-bezier(0.44, 0.66, 0.67, 0.37) infinite;
}

@keyframes wave {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 1440px;
  }
}

.listar-feature-item-wrapper {
  margin-bottom: 120px;
  padding-left: 27px;
  padding-right: 27px;
}

.listar-feature-item {
  height: calc(100% - 20px);
}

.listar-feature-item.listar-feature-has-link
  ~ .listar-feature-fix-bottom-padding.listar-fix-feature-arrow-button-height {
  position: relative;
  display: block;
  width: 100%;
  height: 30px;
}

.listar-feature-item a {
  position: absolute;
  top: -12px;
  left: 15px;
  width: calc(100% - 30px);
  height: calc(100% + 4px);
  border-radius: 1000px;
  z-index: 10;
}

.listar-feature-with-image .listar-feature-item a:before {
  content: "";
  position: absolute;
  top: -74px;
  left: 50%;
  margin-left: -74px;
  width: 148px;
  height: 148px;
  border-radius: 1000px;
  z-index: 10;
}

.listar-feature-item a:after {
  content: "";
  position: absolute;
  bottom: -7px;
  left: 50%;
  margin-left: -25px;
  width: 50px;
  height: 50px;
  border-radius: 1000px;
  z-index: 10;
  animation: ripple 0.7s linear infinite;
  box-shadow: 5px 5px 10px rgba(163, 177, 198, 0.6),
    -5px -5px 10px rgba(255, 255, 255, 0.5);
}


@keyframes ripple {
  0% {
        box-shadow: 0 0 0 0 rgba(163, 177, 198, 0.3), 0 0 0 1em rgba(163, 177, 198, 0.3), 0 0 0 3em rgba(163, 177, 198, 0.03), 0 0 0 5em rgba(163, 177, 198, 0.01);
  }
  100% {
    box-shadow: 0 0 0 1em rgba(163, 177, 198, 0.3), 0 0 0 3em rgba(163, 177, 198, 0.03), 0 0 0 5em rgba(163, 177, 198, 0.03), 0 0 0 8em rgba(163, 177, 198, 0.01);
  }
}



.listar-feature-item .listar-feature-item-inner {
  padding: 50px 30px;
  border-radius: 6px;
  z-index: 5;
  position: relative;
  height: 100%;
}

.listar-feature-item .listar-feature-item-inner {
  padding-top: 60px;
  padding-bottom: 60px;
}

.listar-feature-item .listar-feature-item-inner:before {
  border: 0;
  box-shadow: 120px 0px 150px rgba(80, 80, 80, 0.15),
    10px 0px 10px rgba(80, 80, 80, 0.02);
  border-radius: 1000px;
  background: rgba(255, 255, 255, 0);
  background: -moz-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 40%,
    rgba(255, 255, 255, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, rgba(255, 255, 255, 0)),
    color-stop(40%, rgba(255, 255, 255, 0)),
    color-stop(100%, rgba(255, 255, 255, 1))
  );
  background: -webkit-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 40%,
    rgba(255, 255, 255, 1) 100%
  );
  background: -o-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 40%,
    rgba(255, 255, 255, 1) 100%
  );
  background: -ms-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 40%,
    rgba(255, 255, 255, 1) 100%
  );
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 40%,
    rgba(255, 255, 255, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#ffffff',GradientType=1);
}

.listar-feature-item .listar-feature-item-inner:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.listar-feature-right-border {
  position: absolute;
  width: calc(100% + 24px);
  height: calc(100% + 24px);
  top: -12px;
  left: 50%;
  overflow: hidden;
}

.listar-feature-items {
  text-align: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.listar-feature-right-border:before,
.listar-hovering-features
  .listar-feature-item
  a:hover
  ~ .listar-feature-item-inner
  .listar-feature-right-border:before {
  border: 11px solid #2f53bf;
}

.listar-feature-right-border:before,
.listar-hovering-features
  .listar-feature-item
  a:hover
  ~ .listar-feature-item-inner
  .listar-feature-right-border:before,
.listar-hovering-features-grey
  .listar-feature-item
  a:hover
  ~ .listar-feature-item-inner
  .listar-feature-right-border:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 11px solid #258bd5;
  border-radius: 800px;
  left: -50%;
}

.listar-feature-item .listar-feature-block-content-wrapper {
  position: relative;
  display: block;
  text-decoration: none;
  margin: -30px;
  padding: 30px;
  height: calc(100% + 100px);
}

.listar-features-design-2 .listar-feature-item-wrapper {
  margin-bottom: 120px;
  padding-left: 27px;
  padding-right: 27px;
}

.listar-feature-item.listar-feature-has-link .listar-feature-item-inner:after {
  content: "";
  background-color: #fff;
  z-index: 6;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center center;
}

.listar-feature-icon-wrapper {
  width: 148px;
  height: 148px;
  line-height: 148px;
  border-radius: 500px;
  position: relative;
  background-color: #fff;
  box-shadow: 8px 8px 30px rgba(0, 0, 0, 0.06);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  left: 50%;
  vertical-align: middle;
  margin-left: -74px;
  top: -66px;
  margin-top: -74px;
}

.listar-feature-icon-inner {
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 500px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.14);
  background: #fff;
}

.listar-feature-icon-inner div {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  display: inline-block;
  position: relative;
  width: 120px;
  height: 120px;
  line-height: 120px;
  text-align: left;
}

.listar-feature-icon-inner img {
  position: relative;
  margin: 0 auto;
  vertical-align: middle;
  display: inline-block;
  width: auto;
  left: 50%;
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
  transform: translate(-50%);
  height: 55px;
}

.listar-feature-item img,
.listar-feature-item i {
  position: relative;
  display: inline-block;
  border-bottom: 0;
  font-size: 40px;
  top: 0;
  padding: 0;
  color: #258bd5;
}

.listar-feature-with-image .listar-feature-content-wrapper {
  top: 0;
}
.listar-feature-content-wrapper {
  position: relative;
  margin-top: -15.5px;
}

.listar-feature-item .listar-feature-item-title {
  padding-top: 0;
  margin: 0 0 30px;
  text-align: center;
  line-height: 1.5;
}

.listar-feature-item
  .listar-feature-item-title.listar-feature-counter-added
  > span {
  margin-left: 25px;
  border-radius: 0 50px 50px 0;
}

.listar-feature-item .listar-feature-item-title > span {
  box-shadow: 15px 20px 30px rgba(80, 80, 80, 0.12),
    5px 0px 40px rgba(80, 80, 80, 0.1);
  padding: 10px 20px;
  display: inline-block;
  position: relative;
  background-color: #fff;
}

.listar-feature-item .listar-feature-item-title > span span {
  box-shadow: 15px 15px 30px rgba(80, 80, 80, 0.2),
    5px 0px 80px rgba(80, 80, 80, 0.15);
  padding: 10px 0;
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 30px;
  white-space: nowrap;
  position: absolute;
  top: -3px;
  left: -40px;
  border-radius: 50px;
  background-color: #fff;
}

.listar-feature-item .listar-feature-item-title span {
  display: inline-block;
  font-size: 14px;
  line-height: normal;
  font-weight: 400;
  text-shadow: none;
  border-radius: 50px;
  color: #252525;
  font-size: 18px;
}

.listar-feature-item-excerpt {
  padding: 0 20px;
}

.listar-feature-item-excerpt {
  color: #252525;
  position: relative;
  top: 0;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.pset {
  padding-top: 180px;
}

.listar-map-button-text span {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 15px;
  height: 44px;
  line-height: 1.6;
  padding: 10px 25px;
  box-shadow: 0 0 31px rgba(0, 0, 0, 0.65), 0 0 4px rgba(0, 0, 0, 0.06);
  border-radius: 50px;
  background-color: rgba(35, 40, 45, 0.9);
  color: #fff;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
}

.listar-map-button-text span {
  background-color: #fff;
  color: #252525;
  text-shadow: none;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.listar-map-button-text span:after {
  border: 12px solid #fff;
}

.listar-map-button-text span:after {
  content: "";
  position: absolute;
  top: -14px;
  left: -14px;
  width: calc(100% + 28px);
  height: calc(100% + 28px);
  border-radius: 36px;
}

.listar-map-button:hover .listar-map-button-text span {
  padding: 10px 43px 10px 51px;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.listar-feature-with-image .listar-feature-item a:before {
  content: "";
  position: absolute;
  top: -74px;
  left: 50%;
  margin-left: -74px;
  width: 148px;
  height: 148px;
  border-radius: 1000px;
  z-index: 10;
}

.listar-feature-item.listar-feature-has-link .listar-feature-item-inner:after {
  margin-left: -25px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  box-shadow: 10px 10px 40px rgba(80, 80, 80, 0.15),
    15px 15px 30px rgba(80, 80, 80, 0.05), 0 0 120px rgba(80, 80, 80, 0.6);
  bottom: -30px;
  background-image: url("https://image.flaticon.com/icons/svg/2316/2316674.svg");
  background-size: 40%;
  color: #555;
  line-height: 52px;
}

.howItWork-section .col-lg-1,
.howItWork-section .col-lg-2,
.howItWork-section .col-lg-3,
.howItWork-section .col-lg-4,
.howItWork-section .col-lg-5,
.howItWork-section .col-lg-6,
.howItWork-section .col-lg-7,
.howItWork-section .col-lg-8,
.howItWork-section .col-lg-9,
.howItWork-section .col-lg-10,
.howItWork-section .col-lg-11,
.howItWork-section .col-lg-12,
.howItWork-section .col-md-1,
.howItWork-section .col-md-2,
.howItWork-section .col-md-3,
.howItWork-section .col-md-4,
.howItWork-section .col-md-5,
.howItWork-section .col-md-6,
.howItWork-section .col-md-7,
.howItWork-section .col-md-8,
.howItWork-section .col-md-9,
.howItWork-section .col-md-10,
.howItWork-section .col-md-11,
.howItWork-section .col-md-12,
.howItWork-section .col-sm-1,
.howItWork-section .col-sm-2,
.howItWork-section .col-sm-3,
.howItWork-section .col-sm-4,
.howItWork-section .col-sm-5,
.howItWork-section .col-sm-6,
.howItWork-section .col-sm-7,
.howItWork-section .col-sm-8,
.howItWork-section .col-sm-9,
.howItWork-section .col-sm-10,
.howItWork-section .col-sm-11,
.howItWork-section .col-sm-12,
.howItWork-section .col-xs-1,
.howItWork-section .col-xs-2,
.howItWork-section .col-xs-3,
.howItWork-section .col-xs-4,
.howItWork-section .col-xs-5,
.howItWork-section .col-xs-6,
.howItWork-section .col-xs-7,
.howItWork-section .col-xs-8,
.howItWork-section .col-xs-9,
.howItWork-section .col-xs-10,
.howItWork-section .col-xs-11,
.howItWork-section .col-xs-12 {
  align-self: flex-start;
}







/* How it works Css */

/* End How it works Css  End*/
/* Service_detail Page Css Start */




.card_cont {
	position: relative;
	left: 0;
	right: 0;
	width: 300px;
	height: 400px;
	border-radius: 5px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	background: linear-gradient(
180deg
, rgb(227 1 212) -120%, rgb(50 33 112) 64%);
	overflow: hidden;
	
	/* box-shadow: 0px 0px 136px 3px #6d74d6; */
}

.service_itemImg {
    height: 180px;
    width: 100%;
    padding: 10px;
}
.Heading_ServiceItem{
  text-align: center;
  padding: 5px;
  height: 65px;
}
.Add_ToCart {
	background: #000;
	width: 167px;
	height: 45px;
	border-radius: 53px;
	position: absolute;
	left: 0;
	color: #fff;
	right: 0;
	border: none;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Roboto', sans-serif;
	transition: .5s;
	overflow: hidden;
	cursor: pointer;
	-webkit-box-shadow: 0px 0px 50px 1px rgba(0, 0, 0, 0.68);
	-moz-box-shadow: 0px 0px 50px 1px rgba(0, 0, 0, 0.68);
	box-shadow: 0px 0px 50px 1px rgba(0, 0, 0, 0.68);
}
.Add_ToCart:hover{
  background: #69168F;
  color: #fff;
}
.Cart_page_sect{
  
  background: #EFF2F3;
  color: #000;
}
.Card_CartSect{
  background: #fff;
}
.Item_card{
  margin-top: 25px;
  background: #fff !important;
  border-radius: 10px;
}
.Child_card_shop{
  background: #fff !important;
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 2%);
}
.headin_shopCart{
  color: #000 !important;
  font-size: 18px;
}
/* Service_detail Page Css end */
.pos_negTIveIcon{
  position: relative; 
  display: flex;
  align-items: center;
  justify-content: center;
}
.Cart_itemImg{
  height: 100%;
  width: 100%;
}
.cart_CenterROw{
  align-items: center;
  margin: 0px;
  box-shadow: 0 2px 10px rgb(0 0 0 / 10%);
}
.Cart_productImg{
    padding-right: 0 !important;
    padding-left: 0 !important;
}
.topcart{
  display: flex;
  align-content: center;
  justify-content: space-between;
}
.Head_yourShop{
  
  text-align: center;
}
.Secon_colCard{
  border-radius: 10px;  
  background: linear-gradient(
180deg
, rgb(227 1 212) -120%, rgb(50 33 112) 64%);
}
/* form Css Cart page  */
.formfield{
  position: relative;
  box-sizing: border-box;
  float: left;
  margin: auto;
  padding: 5px;
  border: 0px;
  font-size: 1em;
}
.formfield *{
  box-sizing: border-box;
}
#firstnamefield, #lastnamefield, #Emailfield, #Phonefield, #landmarkfield, #statefield, #zipcodefield, #cityfield{
  width: 50%;
}
#addressfield{
  width: 100%;
}
.PaymentBtn{
  align-items: center;
    position: relative;
    display: flex;
    justify-content: center;
    top: 15px;
}
.checkBoxalignment{
  left: 25px;
    position: relative;
}
.alignmentCol{
  align-items: center;
    justify-content: center;
    position: relative;
    display: flex;
    height: 100%;
}
.formfield>input, .formfield>label{
  padding: 0.8em;
  margin: 0.5em;
  width: 100%;
}
.formfield>input {
    border: 2px solid #322170;
    border-radius: 5px;
    outline: none;
    color: #000;
    /* background: rgba(255, 255, 255, 0); */
}
.formfield>label {
    position: absolute;
    top: 7px;
    bottom: 0;
    left: 0;
    color: #322170;
}
input:focus + label, input:valid + label{
  color: rgb(253, 253, 253);
  font-size: 14px;
  background: #004e92;
  border-radius: 2px;
  width: auto;
  height: 1.5em;
  padding: 0px 0.5em 0px 0.5em;
  margin: 0px;
  /* outline: 1px solid rgb(73, 48, 185);  */
  transition: 0.2s ease-in-out;
  top: 0em;
  left: 2em; 
}
.check_box{
  background-color: blue !important;
}
.Your_detailHead{
  position: relative;
  top: 10px;
}
.CheckOut_CONT{
  width: 90% !important;
}
.CheckOutBtn{
  background: #4251da !important;
  border: #80c7dd !important;
  cursor: pointer;
    display: block;
    color: #fff;
    padding: 10px !important;
    font-weight: 300;
    width: 100% !important;
    text-align: center;
}
.bx-plus, .bx-minus {
 font-size: 30px;
  margin: 10px;
  color: #69168F;
}
.bx-arrow-back{
font-size: 25px;
    margin-right: 10px;
    color: #69168F;
    top: 5px;
    position: relative;
}

.bx-trash{
font-size: 30px;
  margin: 15px;
  color: #69168F;
}

/* Features Home */
.FeatWrap{
  perspective: 800;
  -webkit-perspective: 800;
  perspective-origin: 50% 90px;
  -webkit-perspective-origin: 50% 90px;
  margin: 150px auto 0 auto;
  width: 600px;
  transition: 1s;
}
.FeatWrap:hover{
  perspective-origin: 50% -100px;
  -webkit-perspective-origin: 50% -100px;
}
.features-section{
  height: 100vh;
}
.footer_container{
   width: 90% !important;
}
.HomeCard_conatainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
  height: 100%;
}
/* choose mechanic */
.timing{
  line-height: 25px;
}
.blogDescrption ul li{
  list-style: none;
}
.blogDescrption ul li::before{
  font-family: 'FontAwesome';
    content: '\f00c';
    margin: 0 5px 0 -24px;
    color: #6b36aa;
}
.servicePrice{
  margin-top: 27px;
}
.TimeBg{
    background: #89888b;
    height: 25px;
}
.ServiceDetBtn{
  justify-content: center;
    align-items: center;
    position: relative;
    display: flex;
}
.ChooseMechBTn{
  align-items: flex-end;
    justify-content: flex-end;
    display: flex;
}
.vl {
  border-left: 2px solid #edecf1;
  height: 90px;
}
.mechanicCard{
  background: linear-gradient(to top, #6441a5, #2a0845);
}
.bx-badge-check{
  color: #6441a5;
  font-size: 1.2rem !important;
}
.bxs-star{
  color: rgb(240, 237, 61);
}
.bx-x{
  font-size: 3rem;
}
.TimeIcon{
  background: #322170;
}
.Mechanic_itemImg{
  height: 160px;
    width: 100%;
}
.mechanicRow{
  background: #322170;
  border-radius: 10px;
}
.mechanicHr{
  background: #000;
}
.FeatureSEct_card{
  align-items: center;
  justify-content: center;
  position: relative;
  height: 400px;
  display: flex;
  margin-bottom: 60px;
  transition: 0.4s;
}
/* .FeatureSEct_card{
    position: relative;
    height: 400px;
    margin: 0px 20px
    dis
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
    transition: 0.4s;
} */
.FeatureSEct_card::before {
  content: "";
  position: absolute;
  background: white;
  width: 50%;
  height: 100%;
  top: 0;
  left: 50px;
  border-radius: 10px;
  transform: skewx(15deg);
  transition: 0.4s;
}

.FeatureSEct_card::after {
  content: "";
  position: absolute;
  background: white;
  width: 50%;
  height: 100%;
  top: 0;
  left: 50px;
  border-radius: 10px;
  transform: skewx(15deg);
  transition: 0.4s;
  filter: blur(30px);
}

.FeatureSEct_card:hover::before,
.FeatureSEct_card:hover::after {
  transform: skewx(0);
  left: 40px;
  width: calc(100% - 80px);
}

.FeatureSEct_card:nth-child(1)::before,
.FeatureSEct_card:nth-child(1)::after {
  background: linear-gradient(
180deg
, rgb(227 1 212) -120%, rgb(50 33 112) 64%);
}

.FeatureSEct_card:nth-child(2)::before,
.FeatureSEct_card:nth-child(2)::after {
  background: linear-gradient(
180deg
, rgb(227 1 212) -120%, rgb(50 33 112) 64%);
}

.FeatureSEct_card:nth-child(3)::before,
.FeatureSEct_card:nth-child(3)::after {
  background: linear-gradient(
180deg
, rgb(227 1 212) -120%, rgb(50 33 112) 64%);
}

.FeatureSEct_card span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  pointer-events: none;
}

.FeatureSEct_card span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  opacity: 0;
  transition: 0.4s;
}

.FeatureSEct_card:hover span::before {
  width: 100px;
  height: 100px;
  opacity: 1;
  left: 50px;
  top: -50px;
  animation: swing 2s ease-in-out infinite;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.FeatureSEct_card span::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  opacity: 0;
  transition: 0.4s;
}

.FeatureSEct_card:hover span::after {
  width: 100px;
  height: 100px;
  opacity: 1;
  right: 50px;
  bottom: -50px;
  animation: swing 2s ease-in-out infinite;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  animation-delay: -1s;
}

.content {
  z-index: 1;
  position: relative;
  left: 0;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  padding: 20px 50px;
  transition: 0.4s;
  color: white;
}

.FeatureSEct_card:hover .content {
  left: -25px;
  padding: 40px 50px;
}

.FeatureSEct_card h2 {
  font-size: 1.9em;
  margin-bottom: 10px;
}

.FeatureSEct_card p {
  font-size: 0.95em;
  font-weight: 300;
  margin-bottom: 20px;
}

.FeatureSEct_card a {
  display: inline-block;
  text-decoration: none;
  background: white;
  color: #222;
  font-size: 1.1em;
  font-weight: 500;
  padding: 10px;
  border-radius: 5px;
}

@keyframes swing {
  0% {
    transform: translatey(10px);
  }

  50% {
    transform: translatey(-10px);
  }

  100% {
    transform: translatey(10px);
  }
}

/* Contact us  */
.ContactUsSec{
  height: 100vh;
  background: #fff !important;
  position: relative;
}
.contactUsCOnt{
  height: 100%;
}
::placeholder{
  color: #000 !important;
}
.Form_contact{  
    position: relative;
    top: 95px;
    box-shadow: 0 2px 10px rgb(0 0 0 / 73%);
    background: #fff !important;
    width: -moz-fit-content;
    width: fit-content;
    right: 100px;
    z-index: 10;
    width: 280px;
  }
.COntactInput{
  border: 0;
  margin: 10px;
  width: 260px;
  background: #eee;
}
.COntact_para{
  padding-right: 30px;
}
.CarBgImg{
  background: url(./Images/Contactbackground\ shape-01.jpg);
      height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}
.MapSection{
   height: 70vh;
   background: url();
   position: absolute;
}
marker {
    top:200px;
    left:300px;
    margin-top: 20px;
		margin-left: 30px;
		position: relative;
	}
.grow{
  position:absolute;
  background:rgba(255,255,255,0.3);
  background:#fff;
  height:10px;
  width:10px;
  z-index:999;

  border-radius:50%;
  border: 5px solid #26baff;
}
.IframeMp{
  position: absolute;
  border: 0;
  width: 100%;
  height: 440px;
}
/* .MaP_card{
  margin-top: 50px;
  margin-bottom: -30px;
  padding: 10px;
} */

	.dot {
    position: absolute;
    height: 50px;
		width: 50px;
		top: -25px;
		left: -25px;
		z-index: 2;
		opacity: 0;
		border: 10px solid #ff4800;;
		background: #ff7200;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
		-webkit-animation: pulse 2s ease-out;
		-moz-animation: pulse 2s ease-out;
		animation: pulse 2s ease-out;
    -webkit-animation-iteration-count: infinite;
		-moz-animation-iteration-count: infinite;
		animation-iteration-count: infinite;
  }
.ContactUs_icon{
  font-size: 30px;
    line-height: 1.6 !important;
}
.info_Contact{
  margin: 10px;
}
/* Media queries */
@media only screen and (orientation : landscape) , only screen and (max-device-width: 1440px) and (min-device-width : 1280px) and  (orientation : portrait) { 
  .mechanicImg{
    height: 700px;
  }
  .card-authentication1 {
    width: 25rem;
    left: 30px;
    position: relative;
}
}
@media only screen and (orientation : landscape) , only screen and (min-device-width : 1920px) and  (orientation : portrait){
  .card-authentication1 {
    width: 30rem;  
}
.ContactUsSec {
    height: 100vh;
    background: #fff !important;
}
MapSection {
    height: 50vh;
    background: url();
}
.IframeMp {
    border: 0;
    width: 100%;
    height: 100%;

}
}
@media screen and (max-width: 450px) {
  .FirstSection {
    /* display: flex; */
    height: 100%;
    /* display: flex; */
}
.vl{
  display: none;
}
.firstRow {
    display: flex;
}
.FirstSection::before {
   
    display: none;
}
.blankCol{
  max-width: 100%;
    flex: 0 0 100% ;
}
.SecondSection {
    /* height: 80vh; */
    padding: 30px 10px;
    /* background-color: #dededede; */
}
.homepage-card {
    border-radius: 10px;
    background: rgb(255,0,238);
    background: linear-gradient(
180deg
, rgb(227 1 212) -120%, rgb(50 33 112) 64%);
    color: white;
    text-align: center;
    height: 100%;
    transition: all .4s ease-in-out;
    width: 170px;
}
.SecondSectionCard, .ServiceFeaturesCard {
    padding: 10px;
}
.SecondSectionCard {
    max-width: 100%;
    flex: 0 0 0;
}
.lastServiceCard{
  width: 350px;
}
.overlay{
  width: 50%;
}
.ThirdSection .col-6:first-child {
    padding: 60px 35px;
}
.homeservicecard-subheading {
    padding: 10px;
}
.ThirdSection {
    background-color: #6809AA;
    height: auto;
}
.ThirdSection .col-4 img {
    display: none;
}
.ThirdSection .col-2 img {
    display: none;
}
.ThirdSection .col-6{
  max-width: 100%;
    flex: 0 0 100%;
}
.features-section {
     height: auto;
}
.feat_col_res{
  max-width: 100%;
    flex: 0 0 100%;
}
.section-large-text-inner h2 {
    font-size: 2rem;
    margin-top: 1rem;
}
.ServiceFeaturesCard {
    max-width: 100%;
    padding: 20px;
    flex: 0 0 100%;
}
.service_card {
    border-radius: 10px;
    
    background: linear-gradient( 
180deg
 , rgb(227 1 212) -120%, rgb(50 33 112) 64%);
    color: black !important;
    text-align: center;
    
    height: 100%;
    transition: all .4s ease-in-out;
}
.CheckOut_CONT {
    width: 100% !important;
}
.servicesHeading_in_service_feature {
    /* font-family: TransRobotics; */
    font-weight: unset;
    color: #1c1c1c;
    text-align: center;
    font-size: 45px;
    margin: 0px;
    padding: 15px;
}
.section-large-text_insrvice_features {
    position: relative;
    background: url(./Images/features.jpeg) bottom center/cover no-repeat;
    height: 400px;
}
.section-large-text {
    position: relative;
    background: url(./Images/features.jpeg) bottom center/cover no-repeat;
    height: 400px;
}
.card_cont {
    position: relative;
    left: 0;
    right: 0;
    width: 324px;
    height: 400px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background: linear-gradient( 
180deg
 , rgb(227 1 212) -120%, rgb(50 33 112) 64%);
    overflow: hidden;
    /* box-shadow: 0px 0px 136px 3px #6d74d6; */
}
.headin_shopCart {
    color: #000 !important;
    font-size: 18px;
    text-align: center;
}
.service_card h6 {
   
    color: white;
    font-size: 28px;
}
.Form_contact {
    position: relative;
    top: 10px;
    box-shadow: 0 2px 10px rgb(0 0 0 / 73%);
    background: #fff !important;
    width: -moz-fit-content;
    /* width: fit-content; */
    right: 0;
    z-index: 10;
    width: auto;
}
.ContactUsSec {
    background: url();
    height: auto;
    
}
.MapSection {
    height: 53vh;
    background: url();
}
.COntactInput {
    border: 0;
    margin: 10px;
    width: auto;
    background: #eee;
}
/* login css responsive */
.mechanicImg{
  display: none;
}
}
  
